.sr-only {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    left: -9999px;
    top: -9999px;
    width: 1px;
    word-wrap: normal;

    &:focus {
        display: block;
        width: auto;
        height: auto;
        left: 5px;
        top: 5px;
        clip: auto;
        clip-path: none;
        z-index: 100000;
        
        padding: 18px 25px;
        background-color: #000;
        color: #fff;
    }
}