.announcement-bar {
    padding-right: calc(var(--container-gutter) + #{$base-font-size} + var(--container-gutter));
    padding-top: calc(var(--container-gutter) / 2);
    padding-bottom: calc(var(--container-gutter) / 2);
    background-color: var(--announcement-bar-background-color, #{$color-tertiary});
    color: var(--announcement-bar-text-color, #ffffff);
    position: relative;
    z-index: 1;
    text-align: center;
    @include breakpoint('lg') {
        text-align: left;
        ._inner {padding-right: calc(var(--container-gutter) * 2);}
    }
    p {margin-bottom: 0;}
    a {
        color: var(--announcement-bar-text-color);
        font-weight: 700;
        &:hover, &:focus {
            color: var(--announcement-bar-text-color);
        }
    }
    ._close {
        position: absolute;
        right: var(--container-gutter);
        top: calc(#{$base-font-size} / 1.5);
        color: white;
    }
}

.logged-in {
    .announcement-bar {
        cursor: not-allowed;
        ._close {
            pointer-events: none;
            opacity: .5;
        }
    }
}