.chw-buttons {
	&__inner {
		@include chw-section-cta-buttons;
		flex-wrap: wrap;
	}

	&.-align-left &__inner {
		justify-content: flex-start;
	}

	&.-align-right &__inner {
		justify-content: flex-end;
	}
}
 