@font-face {
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('../../assets/fonts/playfair-display-500-latin.woff2') format('woff2');
}

@font-face {
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('../../assets/fonts/playfair-display-700-latin.woff2') format('woff2');
}

@font-face {
	font-family: 'Lora';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('../../assets/fonts/lora-500-latin.woff2') format('woff2');
}
