@mixin breakpoint($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media (max-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    }

    // If the key doesn't exist in the map
    @else {
        @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. " (+"Available breakpoints are: #{map-keys($breakpoints)}.")
    }
}


@mixin grid_breakpoint($breakpoint) {
    @media (max-width: $breakpoint) {
        grid-template-columns: 100%;
    }
}

@mixin grid_columns($columns) {
    grid-template-columns: repeat($columns, 1fr);
}

@mixin button_default {
	display: inline-block;
	border-style: solid;
	margin: 0 1rem 1rem 0;
	border-width: var(--button-border-width);
	border-radius: var(--button-border-radius);
	font-weight: var(--button-font-weight);
	font-size: var(--button-font-size);
    text-transform: var(--button_text_transform);
	padding: var(--button-padding);
	color: #ffffff;
    min-width: 200px;
    text-align: center;
	&:hover, &:focus, &:active {
		text-decoration: none;
	}
}