.chw-legal {
	@include chw-section-legal;
	max-width: none;
	margin: 0;

	&.-text-dark {
		color: color-mix(in oklab, #{$color-tertiary} 72%, white);
	}

	&.-text-light {
		color: rgba(255, 255, 255, 0.55);

		a {
			color: rgba(255, 255, 255, 0.7);
		}
	}

	&__content {
		a {
			color: inherit;
			text-decoration: underline;
		}
	}
}
