@charset 'UTF-8';

@import 'abstracts/fonts';
@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'vendors/wordpress';
@import 'components/andreian-post';
@import 'components/social-links';
@import 'pages/front-page';

body#tinymce.mce-content-body,
body.mce-content-body.wp-autoresize {
	margin: 0 !important;
	padding: 1.25rem 1.5rem !important;
	box-sizing: border-box;
}

.editor-styles-wrapper {
	font-family: $font-family-body;
	font-size: $base-font-size;
	color: $color-text;
	font-weight: 500;
	line-height: 1.7;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: $font-family-heading;
		font-weight: 700;
		line-height: 1.12;
		letter-spacing: $font-heading-letter-spacing;
	}
}

.wp-block {
	max-width: none;
}

.editor-styles-wrapper {
	.button,
	.wp-block-button__link,
	.wp-element-button {
		@include theme-button;
	}
}

.editor-styles-wrapper.andreian-layout-standard,
.editor-styles-wrapper.andreian-layout-builder {
	.is-root-container,
	.block-editor-block-list__layout.is-root-container,
	.wp-block-post-content {
		max-width: $content-max-width;
		margin-left: auto;
		margin-right: auto;
	}
}
