.fullwidth-halfscreen {
    &.-media-content {
        flex-direction: row;
        @include breakpoint('lg') {
            flex-direction: column;
        }
    }
    &.-content-media {
        flex-direction: row-reverse;
        @include breakpoint('lg') {
            flex-direction: column-reverse;
        }
    }
    ._media, ._content {
        width: 100%;
        max-width: 50%;
        @include breakpoint('lg') {max-width: 100%;}
    }
    ._media {
        position: relative;
        overflow: hidden;
        aspect-ratio: 5/4;
        background-color: gray;
        img, video, iframe  {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            aspect-ratio: 5/4;
            object-fit: cover;
            margin: 0;
        }
        video, iframe {
        }
    }
    ._content {
        > ._inner {
            max-width: 650px;
            margin: auto;
            padding-top: 8rem;
            padding-bottom: 8rem;
            @include breakpoint('lg') {
                padding-top: 4rem;
                padding-bottom: 4rem;}
        }
    }
}